In [72]:
#welcome to Jeffery's world! Shoot me an email if you want to know more @ meik@purdue.edu
import pandas as pd
import sklearn
import scipy
from sklearn.metrics import cohen_kappa_score, make_scorer
import gc

In [109]:
#load data into files
dataset = pd.read_excel('data original.xlsx')
dataset.drop(['Date', 'Comment','Authority?'],inplace=True,axis=1)
dataset.columns = ['entry','text','tagger','fraud','policy','unauthorized','fee']

dataset[['fraud','policy','unauthorized','fee']] = dataset[['fraud','policy','unauthorized','fee']].replace(['Yes','No'],[1,0])
#create master tag file
protaggers = ['lchen@vt.edu', 'jeffrey@vt.edu', 'lanham@vt.edu', 'shiva@vt.edu']

pro_tag_file = dataset.loc[dataset['tagger'].isin(protaggers)]
pro_tag_file.columns = ['entry','text','ptagger','pfraud','ppolicy','pauthorization','pfee']

tag_file = dataset.loc[~dataset['tagger'].isin(protaggers)]

#create the text file for it saves some ram....
text_file = dataset[['entry','text']]
text_file = text_file.drop_duplicates()

taggerlist = set(tag_file['tagger'])

In [74]:

policy_tagger_dataframe_kappa = pd.DataFrame()
authorization_tagger_dataframe_kappa = pd.DataFrame()
fee_tagger_dataframe_kappa = pd.DataFrame()

In [75]:
#this part is for fraud only
#create good tagger list and another dataframe with their kappa
fraud_tagger_dataframe_kappa = pd.DataFrame()
fraud_goodtagger = []

#note: there is no kappa score provided by professor. So I am the authority :D
for tagger in taggerlist:
    temp_tagged_file = tag_file.loc[tag_file['tagger']==tagger]

    comparefile = pd.merge(temp_tagged_file, pro_tag_file, how='inner', on=['entry'])

    kappa = sklearn.metrics.cohen_kappa_score(comparefile['fraud'],comparefile['pfraud'])
    if kappa >= 0.4:
        fraud_goodtagger.append(tagger)
        temp_tagger = [[tagger,kappa]]
        fraud_tagger_dataframe_kappa = fraud_tagger_dataframe_kappa.append(temp_tagger)
    gc.collect

#cleaned up data and then merge them through different dataset.
fraud_tagger_dataframe_kappa.columns = ['tagger','kappa']
print('Fraud good taggers count: ',len(fraud_goodtagger))

fraudfile = dataset.loc[dataset['tagger'].isin(fraud_goodtagger)]
fraudfile.drop(['policy','unauthorized','fee'],inplace=1,axis=1)
print('fraudfile.shape: ', fraudfile.shape)

#merge fraud dataset
fraudfile_analysis = pd.merge(fraudfile,fraud_tagger_dataframe_kappa,on='tagger',how='left')
fraudfile_analysis.sort(['entry','kappa'],ascending=[True,False])
fraudfile_analysis_first_sort = fraudfile_analysis.groupby('entry').first()

Fraud good taggers count:  31
fraudfile.shape:  (4670, 4)

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:29: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [120]:
temp = fraudfile_analysis.groupby('entry', as_index=False)['fraud'].mean()
temp.columns=['entry','score']
temp['fraud'].loc(temp['score']>=0.5) = 1
temp['fraud'].loc(temp['score']<0.5) = 1
temp.head(5)

SyntaxError: can't assign to function call (<ipython-input-120-49991a1f6988>, line 3)

In [77]:
fraud_tagger_dataframe_kappa.head(5)

                tagger     kappa
0   bbrumfi@purdue.edu  0.470588
0  sruddick@purdue.edu  0.417910
0      lo31@purdue.edu  0.511628
0  zhan2016@purdue.edu  0.514286
0    ahould@purdue.edu  0.580645

In [95]:
fraudfile_analysis.head(5)

,entry,text,tagger,fraud,kappa
0,1,I 'm no longer an account holder of SunTrust. ...,lo31@purdue.edu,1,0.511628
1,2,"After banking with Citibank for over 3 years, ...",chen1331@purdue.edu,1,0.440678
2,6,There are two components to the bank fraud tha...,dai77@purdue.edu,1,0.500000
3,6,There are two components to the bank fraud tha...,apozivil@purdue.edu,1,0.466667
4,18,The bank erroneously processed credit/ debit i...,ahould@purdue.edu,0,0.580645

In [79]:
#expereiment field
tag_file.head(5)

,entry,text,tagger,fraud,policy,unauthorized,fee
0,1,I 'm no longer an account holder of SunTrust. ...,cthieme@purdue.edu,1,1,0,1
1,1,I 'm no longer an account holder of SunTrust. ...,heo6@purdue.edu,1,0,0,0
2,1,I 'm no longer an account holder of SunTrust. ...,li470@purdue.edu,0,1,0,0
3,1,I 'm no longer an account holder of SunTrust. ...,lo31@purdue.edu,1,0,0,0
4,2,"After banking with Citibank for over 3 years, ...",land1@purdue.edu,1,1,0,0

In [110]:
text_file

       entry                                               text
0          1  I 'm no longer an account holder of SunTrust. ...
4          2  After banking with Citibank for over 3 years, ...
8          6  There are two components to the bank fraud tha...
12         8  I have a checking account with JP Morgan Chase...
15        10  I was studying in the XXXX last year and opene...
18        11  I am the Trustee of my sister 's estate. She p...
20        16  I was informed by an official of the bank ( Ci...
24        18  The bank erroneously processed credit/ debit i...
31        19  I am a TD Bank account holder. I receive overd...
41        21  I opened an account at the PNC Bank XXXX XXXX,...
45        22  Went to a bank of America in XXXX XXXX XXXX an...
49        23  US Bank had XXXX accounts under my name and I ...
51        26  I would like to file a complaint against TCF B...
54        30  I received an unsolicited XXXX debit card in t...
58        33  Explanation of complaint against PAYPAL Accoun...
60        34  Navy Federal Credit Union blocked access to my...
64        35  The problem is with EXPERIANTo know my score I...
68        36  MY BANK RECORDS FROM ASTORIA BANK WERE RELEASE...
71        38  PNC Bank closed me out. Held my money, which m...
72        39  I was contemplating cashing in some US Savings...
76        41  I filed a fraud complaint after discovering th...
81        43  Bank of America closed my accounts without my ...
84        45  I am trying to close a safe deposit box and sa...
90        46  On XXXX XXXX, I had a balance of {$110.00}. I ...
93        47  Complainant is a partner in a small Ohio-based...
97        50  This is the letter I have submitted to Chase B...
101       52  I had XXXX accounts with XXXX that I signed up...
103       53  Re Fifth Third Bank of XXXX, XXXX ( and corpor...
105       54  I received a letter from XXXX with a debit car...
108       55  On Friday XXXX/XXXX/2015, my check account sai...
...      ...                                                ...
15877   9008  Synchrony Bank is charging lates fees for paym...
15879   9010  I recently looked at my Wells Fargo credit car...
15883   9014  On XXXX/XXXX/16 I went into a Wells Fargo bran...
15886   9017  I am a consumer who experience the fraud of We...
15891   9018  i had a account with usaa bank for years someo...
15896   9019  My bank, Regions, has a way of classifying som...
15899   9020  Bank of America charged me XXXX overdraft fees...
15903   9021  Business account with Sun trust linked to cred...
15906   9027  Usaa bank did illegal closure of my checking a...
15910   9029  chex systems services is reporting inaccurate ...
15915   9031  I have a payroll check drawn from US Bank. I a...
15919   9032  I have been banking with USBank for almost 20 ...
15924   9036  On XXXX XXXX, 2016, I received 4 emails from W...
15926   9037  On XX/XX/XXXX, I reported to USAA bank that my...
15927   9038  Originally, I opened a single checking account...
15931   9040  In reference to the investigation XXXX. On XXX...
15933   9041  For several months I received an Email monthly...
15936   9042  I filed complaint number XXXX. However Hunting...
15939   9044  I am writing on the behalf of my Grandmother '...
15942   9045  I HAVE A VERY LOW VISION PROBLEM. PNC, MY BANK...
15945   9046  In XXXX XXXX I contacted the wells Fargo bank ...
15947   9047  I have recently had direct deposits delayed in...
15948   9049  I ran up a large XXXX Debt with Wells Fargo ar...
15951   9050  I was n't paying attend to the check book I wr...
15955   9052  I went to XXXX on a mini-vacation. While there...
15958   9057  I applied to Suntrust Bank to open an account ...
15963   9058  On XXXX/XXXX/2016 I lost my debt card issued b...
15965   9060  I was a victim of this Wells Fargo matter : ht...
15969   9061  I have had an account with BB  T since before ...
15974   9062  I went to a bank ATM of XXXX in XXXX, XXXX, lo...

[4532 rows x 2 columns]